:root {
  --primary-bg-color: #0855b1;
  --text-color: #dad3d3;
  --main-bg-color: #434655;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: large;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

#recs {
  margin-bottom: 30px;
}

.custom-controls button {
  background-color: #a8aabc;
  color: var(--main-text-color);
  border: none;
  border-radius: 20%;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.custom-controls button:hover {
  background-color: white;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
