:root {
  --primary-bg-color: #0855b1;
  /* I went for a monochrome blue colour pallete, as this to me is a very calming colour
  and not too bright so as not to distract people from studying */
  --text-color: #dad3d3;
  --main-bg-color: #434655;
  --main-text-color: #000000;
  --main-btn-bg-color: #938989;
}

header {
  max-width: 400px;
  font-size: larger;
  font-weight: 500;
  position: fixed;
  top: 0;
  padding: 30px;
  /* This fixes the position of the header in the top left */
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: large;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* This pushes the text and buttons to the left bottom corner, as too much space underneath 
  them appeared strange */
  gap: 15px;
}

#sidebar {
  min-height: 734px;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  /* This locks the sidebar in place to the right */
  padding: 40px;
  background-color: #0a6ce2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#sidehead {
  font-weight: 500;
}

#notes {
  min-width: 300px;
  min-height: 550px;
  background-color: #5fa6fd;
  border-color: #0855b1;
  border-radius: 15px;
  border-width: 3px;
  padding: 12px 20px;
  resize: none;
  outline: none;
  /* This makes the note area very large, as I thought this makes it look more like a notice
  board that one might have in there study */
}

#hide-btn {
  width: 50px;
  height: 30px;
  font-size: 15px;
  background-color: #083e7f;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 70px;
  /* This code ensures the hide button is to the far right, as I thought once the sidebar
  is hidden, the button should be close to the edge, so as to not look out of place */
}

#hide-btn:hover {
  background-color: white;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  /* I feel a transition here further creates a calming aesthetic, over a more sudden change of colour */
}

.container {
  padding: 10px;
}

#recs {
  margin-bottom: 3px;
  margin-left: 15px;
  /* This prevents the text from touches the edge of the screen */
}

.custom-controls {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 15px;
  margin-left: 15px;
  /* The above just ensures all the buttons are spaced evenly apart side by side */
}

.custom-controls button {
  background-color: #a8aabc;
  color: var(--main-text-color);
  border: none;
  border-radius: 100px;
  /* I added a circular border to the buttons as this aligns with the calm aesethetic */
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

.custom-controls button:hover {
  background-color: white;
  /* This is simply to highlight the button can be pressed */
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  /* I feel a transition here further creates a calming aesthetic, over a more sudden change of colour */
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  margin-left: 15px;
  /* This allows for the message abd the timer to be next to eachother, so it appears like one sentence */
}

footer {
  background-color: #083e7f;
  /* I didn't want the footer to be distracting, so I picked a darker blue color to blend it in */
  color: #a8aabc;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  display: flex;
  gap: 2px;
  justify-content: right;
  /* this moves the links to the icons to the right so they are less distracting */
}
