:root {
  --primary-bg-color: #0855b1;
  --text-color: #dad3d3;
  --main-bg-color: #434655;
  --main-text-color: #000000;
  --main-btn-bg-color: #938989;
}

header {
  max-width: 400px;
  font-size: larger;
  font-weight: 500;
  position: fixed;
  top: 0;
  padding: 30px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: large;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

#sidebar {
  min-height: 734px;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
  background-color: #0a6ce2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#sidehead {
  font-weight: 500;
}

#notes {
  min-width: 300px;
  min-height: 550px;
  background-color: #5fa6fd;
  border-color: #0855b1;
  border-radius: 15px;
  border-width: 3px;
  padding: 12px 20px;
  resize: none;
  outline: none;
}

#hide-btn {
  width: 50px;
  height: 30px;
  font-size: 15px;
  background-color: #083e7f;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 70px;
}

#hide-btn:hover {
  background-color: white;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

#recs {
  margin-bottom: 3px;
  margin-left: 15px;
}

.custom-controls {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 15px;
  margin-left: 15px;
  border-radius: 100px;
}

.custom-controls button {
  background-color: #a8aabc;
  color: var(--main-text-color);
  border: none;
  border-radius: 100px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.custom-controls button:hover {
  background-color: white;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  /* I feel a transition here further creates a calming aesthetic, over a more sudden change of colour */
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  margin-left: 15px;
}

footer {
  background-color: #083e7f;
  /* I didn't want the footer to be distracting, so I picked a darker blue color to blend it in */
  color: #a8aabc;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  display: flex;
  gap: 2px;
  justify-content: right;
}
