h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  text-align: center;
  /* margin-bottom: 35px; */
  padding-bottom: 25px;
  /* border-bottom: 3px solid #ffc45d; */
}

h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  background-color: #4169e1;
  /* I chose royal blue for the backround colour, 
  as this is one of my favourite colours. I thought
   a personalized colour pallette fitted as I was writing 
   about my personal experience with another website*/
}

.prompts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

span {
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.prompt1 {
  background-color: #cb5fce;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  margin-top: 30px;
  height: 75px;
  overflow: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.prompt1:hover {
  height: 140px;
}

.prompt2 {
  background-color: #ff65a3;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt2:hover {
  height: 230px;
}

.prompt3 {
  background-color: #ff8e77;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 55px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt3:hover {
  height: 140px;
}

.prompt4 {
  background-color: #cb5fce;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt4:hover {
  height: 185px;
}

.prompt5 {
  background-color: #ff65a3;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt5:hover {
  height: 180px;
}

.prompt6 {
  background-color: #ff8e77;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 55px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt6:hover {
  height: 160px;
}

.prompt7 {
  background-color: #cb5fce;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt7:hover {
  height: 140px;
}

.prompt8 {
  background-color: #ff65a3;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt8:hover {
  height: 140px;
}

.prompt9 {
  background-color: #ff8e77;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt9:hover {
  height: 140px;
}

.prompt10 {
  background-color: #cb5fce;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt10:hover {
  height: 140px;
}

.prompt11 {
  background-color: #ff65a3;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt11:hover {
  height: 140px;
}

.prompt12 {
  background-color: #ff8e77;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt12:hover {
  height: 140px;
}

.prompt13 {
  background-color: #cb5fce;
  padding: 15px;
  border-radius: 10px;
  min-width: 700px;
  max-width: 700px;
  height: 75px;
  transition: height 0.3s;
  -webkit-transition: height 0.3s;
  overflow: hidden;
}
.prompt13:hover {
  height: 140px;
}
