:root {
  background-color: white;
  color: black;
  font-family: "Geo", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.5rem;
}

#interface {
  display: grid;
  gap: 15px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  margin-top: 150px;
}

header {
  background-color: lightgray;
  min-width: 2000px;
  font-size: 2rem;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.beats {
  background-color: gray;
  padding: 80px;
  border-radius: 10%;
}

.drums {
  background-color: lightgray;
  padding: 80px;
  cursor: pointer;
  max-height: 200px;
  border-radius: 10%;
}

.drums:hover {
  background-color: lightgreen;
}

.buttons {
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 150px;
}

.buttons:hover {
  background-color: lightgreen;
  border-radius: 10%;
}
