:root {
  background-color: white;
  color: black;
  font-family: "Geo", sans-serif;
}

header {
  background-color: lightgray;
  min-width: 2000px;
  font-size: 2rem;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  overflow: hidden;
  transition: height 0.5s;
}

header:hover {
  height: 180px;
}

#down {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 1.4rem;
  color: gray;
}

body {
  font-size: 1.5rem;
  margin: 200px;
}

.slider-container {
  background-color: lightgray;
  padding: 30px;
  position: fixed;
  right: 0;
  margin-right: 50px;
}
.slider {
  -webkit-appearance: none;
  height: 50%;
  background: gray;
  writing-mode: vertical-lr;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: lightgreen;
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
  scale: 1.2;
  transition: scale 0.3s;
}

#beat5,
#beat6,
#beat7,
#beat8,
#beat9,
#beat10,
#beat11,
#beat12,
#beat13,
#beat14,
#beat15,
#beat16 {
  display: none;
}

#interface {
  display: grid;
  gap: 15px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 190px;
  margin-bottom: 50px;
}

.beats {
  background-color: gray;
  padding: 80px;
  border-radius: 10%;
  min-height: 186px;
  cursor: pointer;
}

.drums {
  background-color: lightgray;
  padding: 80px;
  cursor: grab;
  max-height: 200px;
  border-radius: 10%;
}

.drums:hover {
  background-color: lightgreen;
  transition: background-color 0.3s;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.buttons {
  color: black;
  max-width: 120px;
  max-height: 80px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10%;
  box-shadow: 0 7px #999;
  transition: background-color 0.1s;
}

.buttons:hover {
  background-color: lightgreen;
  border-radius: 10%;
}

.buttons:active {
  box-shadow: 0 4px #999;
  transform: translateY(3px);
}

.buttons:disabled {
  color: white;
  background-color: lightgray;
  cursor: default;
}

#power {
  padding: 30px;
  position: relative;
}

#power-img {
  position: absolute;
  top: -10px;
  left: 5px;
  height: 70px;
  width: 200px;
}
